body{
    font-family:Helvetica, Arial, sans-serif;
    padding: 20px 50px 150px;
    font-size: 13px;
    text-align: center;
    background:#197df0 ;
    background: -webkit-linear-gradient(to left, #197df0 , #96d1bf);
    background: linear-gradient(to left, #197df0 , #96d1bf);
}
ul{
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li{
    font: bold 12px/18px sans-seris;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    background: #fff;
    cursor: pointer;
    transition: all 0.2s;
}
ul li:hover{
    background: rgb(0, 0, 0);
    color: #fff;
}
ul li ul{
    padding: 0;
    position:absolute;
    top: 48px;
    left: 0;
    width: 150px;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}
ul li ul li{
    background: rgb(0, 0, 0);
    display: block;
    color: #fff;
    text-shadow: 0 -1px 0 rgb(0, 132, 255);
}
ul li ul li:hover{
    background: rgb(10, 43, 29);
}
ul li:hover ul{
display: block;
opacity: 1;
visibility: visible;
}